<div class="card-columns">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <button type="button" class="btn btn-dark text-white" [routerLink]="['/charts' , stateData[1].statecode]">
        {{stateData[1].state}}
      </button>
      <h3>{{stateData[1].confirmed}}</h3>
      <small>Confirmed</small>
    </div>
  </div>
  <div class="card bg-primary">
    <div class="card-body text-center">
      <button type="button" class="btn btn-dark text-white" [routerLink]="['/charts' , stateData[2].statecode]">
        {{stateData[2].state}} 
      </button>
      <h3>{{stateData[2].confirmed}}</h3>
      <small>Confirmed</small>
    </div>
  </div>
  <div class="card bg-primary">
    <div class="card-body text-center">
      <button type="button" class="btn btn-dark text-white" [routerLink]="['/charts' , stateData[3].statecode]">
        {{stateData[3].state}} 
      </button>
      <h3>{{stateData[3].confirmed}}</h3>
      <small>Confirmed</small>
    </div>
  </div>
  <div class="card bg-primary">
    <div class="card-body text-center">
      <button type="button" class="btn btn-dark text-white" [routerLink]="['/charts' , stateData[4].statecode]">
        {{stateData[4].state}}
      </button>
      <h3>{{stateData[4].confirmed}}</h3>
      <small>Confirmed</small>
    </div>
  </div>
  <div class="card bg-primary">
    <div class="card-body text-center">
      <button type="button" class="btn btn-dark text-white" [routerLink]="['/charts' , stateData[5].statecode]">
        {{stateData[5].state}} 
      </button>
      <h3>{{stateData[5].confirmed}}</h3>
      <small>Confirmed</small>
    </div>
  </div>
  <div class="card bg-primary">
    <div class="card-body text-center">
      <button type="button" class="btn btn-dark text-white" [routerLink]="['/charts' , stateData[6].statecode]">
        {{stateData[6].state}} 
      </button>
      <h3>{{stateData[6].confirmed}}</h3>
      <small>Confirmed</small>
    </div>
  </div>
</div>